.navbar-brand {
    color: #ffc107 !important;
    padding-right: 30px;
}
.navbar{
    margin-bottom: 30px;
}
.main-content {
    background-color: #e1e6eb !important;
}
.fit-width {
    white-space: nowrap !important;
    width: fit-content;
  }